*, *:before, *:after {
  box-sizing:border-box;
}

/* text style */

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1, .minute {
  font-size: 17px;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 12px;
}

.tab-bar {
  font-size: 10px;
  color: #8E8E93;
}

.subtitle {
  color: #504C51;
}

.red-text {
  color: #D0021B;
}

/* Main Content */

.container {
  width: 375px;
  height: 667px;
  margin: auto;
}

/* Header */

.header {
  background-color: white;
  width: 375px;
  height: 64px;
  padding: 32px 5px 0 5px;
  position: fixed;
  top: 0;
}

/* Status Bar */

#status-bar {
  width: 364px;
  margin: 0 auto;
  position: fixed;
  top: 0;
}

/* Navigation Bar */

#arrow-left {
  color: #007AFF;
  width: 100px;
  float: left;
  font-size: 17px;
}

#bar-title {
  font-size: 17px;
  font-weight: 550;
  width: 80px;
  margin-left: 15px;
}

#icon-right {
  color: #007AFF;
  width: 20px;
  float: right;
}

/* List View */

.list {
  overflow-y:scroll;
  height: 667px;
  padding: 64px 0 52px 0;
}

/* Title */

.title {
  padding-left: 15px;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #4A4A4A;
}

.purple-cell {
  background-color: #EAEAF9;
}

.green-cell {
  background-color: #9DC89D;
}

.red-cell {
  background-color: #F9B3B3;
}

/* Table cells */

.cell {
  background-color: white;
  height: 65px;
}

.separator {
  height: 0px;
  width: 286px;
  float: right;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
}

/* Bus Route Logo */

.bus-route-logo {
  width: 70px;
  height: 65px;
  float: left;
}

.square {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  margin: 7.5px auto;
  color: white;
  text-align: center;
}

.purple {
  background-color: #4347A3;
}

.green {
  background-color: #298628;
}

.red {
  background-color: #D0021B;
}

/* Text content */

.route-information {
  display: inline-block;
  width: 185px;
  height: 44px;
  line-height: 22px;
  margin-top: 12px;
  margin-left: 20px;
  float: left;
}

.arrival-time {
  display: inline-block;
  width: 60px;
  height: 44px;
  line-height: 22px;
  margin-top: 12px;
  margin-left: 5px;
  text-align: right;
}

.arrow-right {
  display: inline-block;
  height: 64px;
  width: 10px;
  margin-right: 12px;
  float: right;
  color: #C7C7CC;
  line-height: 64px;
}

/* Tab Bar */

.tab-bar {
  width: 375px;
  height: 49px;
  background-color: rgba(248,248,248,82);
  text-align: center;
  position: absolute;
  top: 618px;
}

.tab-bar-icons {
  display: inline-block;
  width: 48px;
  margin: 5px 20px;
}
