*, *:before, *:after {
  box-sizing:border-box;
}

/* text style */

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
  font-size: 17px;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 12px;
}

.minute {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.05em;
}

.subtitle {
  color: #504C51;
}

.red-text {
  color: #D0021B;
}

/* Main Content */

.container {
  width: 375px;
  height: 667px;
  margin: auto;
  background-color: #E0E0F7;
}

/* Header */

header {
  top:0;
  background-color: #F8F8F8;
  height: 64px;
  opacity: 0.82;
  box-shadow: 0 0.5px #B2B2B2;
}

/* Status Bar */

#status-bar {
  margin: 0 auto;
  display: block;
}

/* Navigation Bar */

nav {
  width: 100%;
  height: 52px;
  padding: 22px 5px 0 5px;
  position: fixed;
}

#arrow-left {
  color: #007AFF;
  font-size: 17px;
  width: 13%;
  float: left;
}

#bar-title {
  font-size: 17px;
  font-weight: 550;
  width: 20%;
  float: left;
}

#icon-right {
  color: #007AFF;
  width: 35%;
  padding-left: 4%;
  float: left;

}

/* List View */

.list {
  overflow-y:scroll;
  height: 315px;
  padding: 0 0 52 0;
}

/* Title */

.title {
  padding-left: 5%;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #4A4A4A;
}

.purple-cell {
  background-color: #EAEAF9;
}

.green-cell {
  background-color: #9DC89D;
}

.red-cell {
  background-color: #F9B3B3;
}

/* Table cells */

.cell {
  background-color: white;
  height: 65px;
}

.separator {
  height: 0px;
  width: 80%;
  float: right;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
}

/* Bus Route Logo */

.bus-route-logo {
  width: 20%;
  height: 65px;
  float: left;
}

.square {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  margin: 7.5px auto;
  color: white;
  text-align: center;
}

.purple {
  background-color: #4347A3;
}

.green {
  background-color: #298628;
}

.red {
  background-color: #D0021B;
}

/* Text content */

.route-information {
  width: 55%;
  height: 44px;
  line-height: 22px;
  margin-top: 12px;
  float: left;
}

.arrival-time {
  height: 44px;
  line-height: 22px;
  margin-top: 12px;
  text-align: right;
  float: left;
}

.arrow-right {
  height: 64px;
  margin-right: 15px;
  float: right;
  color: #C7C7CC;
  line-height: 64px;
}

/* Tab Bar */

.tab-bar {
  width: 375px;
  height: 49px;
  background-color: #FAFAFA;
  opacity: 0.9;
  position: absolute;
  text-align: center;
  top: 618px;

}

.tab-bar-icons {
  height: 49px;
  width: 25%;
  float: left;
}
